doctype html
html(lang='en')
    head
        title Chat
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        
        form(id="send" action="/" method="POST")
            select(id="room")
                -for(var i = 1;i<10;i++){
                option(value=`room${i}`) Sala de chat #{i}
                -}
            div(style="margin: 0.5em; border:1px solid #000; height: 300px; width: 600px; overflow:scroll" id="chat")
                each message in chatMessages
                    p(class="message")= ` ${message.user}- ${message.message}`
            input(type="text" id="box" required)
            
            input(type="submit" id="submit" value="Send Message")
            input(type="text" value=`${user}` id="user" hidden)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src='/js/bootstrap.min.js')
        script(src='/js/chatClient.js')




