doctype html
html(lang='en')
    head
        title Incident List
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body.bg-color
        h1.header-title List of Incidents
        div(class="container-fluid")
            div(class="row")
                div(class="table-responsive col-md-10 center-element")
                    table(class="table table-bordered table-striped" style="background: white")
                        thead
                            tr
                                th(class="col-2") ID
                                th(class="col-1") Incident
                                th(class="col-1") Category
                                th(class='col-4') Description
                                th(class="col-2") Date and Time
                                th(class="col-1") Status
                                th(class="col-1") Update and Delete
                        tbody
                            each incident in incidents
                                tr
                                    td= incident._id
                                    td= incident.title
                                    td= incident.category   
                                    td= incident.description
                                    td= incident.dateTime
                                    td= incident.status
                                    td
                                        form(method="GET" action=`/incidents/update/${incident.id}`)
                                            input(type="submit" value="UPDATE" class="btn btn-primary")
                                        br
                                        form(method="POST" action=`/incidents/delete/${incident.id}`)
                                            input(type="submit" value="DELETE" class="btn btn-danger")

        script(src='/js/jquery.min.js')
        script(src='/js/popper.js')
        script(src='/js/bootstrap.min.js')
