doctype html
html(lang='en')
    head
        title Notify Incident
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body.bg-color
        h1.header-title Notify Incident
        form(class="form-horizontal" method="POST" action="/incidents/new")
            div.header-title
                h2
                strong New Incident
            div.container
                div.row
                    div.col
                        div.form-group
                            label(class="col-md control-label") INCIDENT TITLE
                            div.col-md
                                input(name="title" 
                                id="incidentName"
                                placeholder="Incident" 
                                class="form-control input-md" 
                                required
                                type="text")
                    div.col
                        div.form-group
                            label(class="col-md control-label") INCIDENT CATEGORY 
                            div.col-md
                                input(name="category" 
                                id="category"
                                placeholder="category" 
                                class="form-control input-md" 
                                required
                                type="text")
                    div.col
                        div.form-group
                            label(class="col-md control-label") DESCRIPTION
                            div.col-md
                                textarea(name="description"
                                    id="description"
                                    placeholder="Description"
                                    rows="2"
                                    class="form control" 
                                    required)
                div.row
                        button(class="btn btn-primary center-element" type="submit") Submit
        script(src='/js/jquery.min.js')
        script(src='/js/popper.js')
        script(src='/js/bootstrap.min.js')
