
head
  meta(charset='utf-8')
  title ERROR
  meta(name='description' content='ERROR')
  link(href="/css/bootstrap.min.css" rel="stylesheet")
  
body
      
  div(class="alert alert-danger") ERROR PAGE NOT FOUND
  
script(src="/js/jquery.js")
script(src="/js/bootstrap.min.js")