doctype html
html(lang='en')
    head
        title Update Incident
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body.bg-color
        h1.header-title Update Incident
        form(class="form-horizontal" method="POST" action=`/incidents/update/${incident.id}`)
            div.header-title
                h2
                strong Update Incident
            div.container
                div.row
                    div.col
                        div.form-group
                            label(class="col-md control-label") INCIDENT TITLE
                            div.col-md
                                input(name="title" 
                                id="incidentName"
                                placeholder="Incident" 
                                class="form-control input-md"
                                value=`${incident.title}` 
                                required
                                type="text")
                    div.col
                        div.form-group
                            label(class="col-md control-label") DESCRIPTION
                            div.col-md
                                textarea(name="description"
                                    id="description"
                                    placeholder="Description"
                                    rows="2"
                                    class="form control"
                                    value=`${incident.description}` 
                                    required)
                    div.col
                        div.form-group
                            label(class="col-md control-label") INCIDENT CATEGORY
                            div.col-md
                                input(name="category" 
                                id="category"
                                placeholder="Category" 
                                class="form-control input-md"
                                value=`${incident.category}` 
                                required
                                type="text")
                    div.col
                        div.form-group
                            label(class="col-md control-label") INCIDENT STATUS
                            div.col-md
                                select(name="status" required)
                                    option(disabled selected value) Select incident status
                                    option Pending
                                    option Solved
                div.row
                        button(class="btn btn-primary center-element" type="submit") Submit
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
