doctype html
html(lang='en')
    head
        title User List
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body.bg-color
        h1.header-title List of Users
        div(class="container-fluid")
            div(class="row")
                div(class="table-responsive col-md-10 center-element")
                    table(class="table table-bordered table-striped" style="background: white")
                        thead
                            tr
                                th(class="col-2") id
                                th(class="col-5") Username
                                th(class="col-5") Mail
                        tbody
                            each user in users
                                tr
                                    td= user.id
                                    td= user.username
                                    td= user.email
        script(src='/js/jquery.min.js')
        script(src='/js/popper.js')
        script(src='/js/bootstrap.min.js')
