doctype html
html(lang='en')
    head
        title Username
        link(rel='stylesheet', href='/css/main.css')
    body.bg-color
        div(style="text-align:center; height: 50%")
            form(class="form-horizontal" method="POST" action="/chat")
                div.header-title(style="width: 50%; margin: 0 auto;")
                    h2
                    br
                    br
                    br
                    strong USERNAME 
                    br
                    br
                    br

                div.username
                    input(name="username" 
                    id="username"
                    placeholder="Insert your username" 
                    
                    required
                    type="text")
                br
                button(class="btn btn-primary center-element" type="submit" ) Submit
        
