.header-title {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.center-element {
    float:none; 
    margin:auto
}

.bg-color {
    background-color: rgb(151, 206, 255);
}

.message {
    margin: 5px
}